body {
    background-color: #edf1f4;
}


.navbar-custom {

    background-color: #9ba9ba
}


@media screen and (max-width: 480px) {
    .tableCurrentMarketDataMobile > thead > tr> th:nth-child(4), th:nth-child(5) {
     display:none;
    }
   }

@media screen and (max-width: 480px) {
    .tableCurrentMarketDataMobile > tbody > tr> td:nth-child(4), td:nth-child(5) {
     display:none;
    }
   }