{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

Hello, {{username}}

<div class="container">
    <h4>Portfolio</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Coin name</th>
                <th scope="col">Symbol</th>
                <th scope="col">amount</th>
                <th scope="col">current coin price</th>
                <th scope="col">coin price paid</th>
                <th scope="col">Current Value</th>
                <th scope="col">Total Cost</th>   
                <th scope="col">Profit</th>             
            </tr>
        </thead>
        <tbody>
            {% for coin in portfolio %}
            <tr>
                <td >{{ coin["name"].capitalize() }} </td>
                <td >{{ coin["symbol"].upper() }} </td>
                <td >{{ coin["amount"] }} </td>
                <td >{{ coin["coin_price"] }} </td>
                <td >{{ coin["average_price_paid"] | usd }}</td>
                <td >{{ coin["current_value"] | usd }} </td>
                <td >{{ coin["total_cost"] | usd }} </td>
                <td >{{ coin["profit"] | usd }} </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Total Value</td>
                <td class="border-0 text-end">10</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Total Cost</td>
                <td class="border-0 w-bold text-end">10</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Total Profit</td>
                <td class="border-0 w-bold text-end"> 10</td>
            </tr>
        </tfoot>
    </table>
</div>

{% endblock %}