{% extends "layout.html" %}

{% block title %}
    Markets
{% endblock %}

{% block main %}
<div class="container">
    <h4>Current Market Data</h4>
    <table class="table table-striped tableCurrentMarketDataMobile">
        <thead>
            <tr>
                <th scope="col">Coin</th>
                <th scope="col">Price</th>
                <th scope="col">24h</th>
                <th scope="col">30d</th>
                <th scope="col">1y</th>
                <th scope="col">Mkt Cap</th>
            </tr>
        </thead>
        <tbody>
            {% for coin in inverted %}
            <tr>
                <td >{{inverted[coin]["id"].capitalize()}} - {{inverted[coin]["symbol"].upper()}} </td>
                <td>{{inverted[coin]["current_price"] | usd}}</td>
                <td>{{inverted[coin]["price_change_percentage_24h_in_currency"] | percentage}}</td>
                <td>{{inverted[coin]["price_change_percentage_30d_in_currency"] | percentage}}</td>
                <td>{{inverted[coin]["price_change_percentage_1y_in_currency"] | percentage}}</td>
                <td>{{inverted[coin]["market_cap"] | usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}