{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}


<div class="container text-center">
    <h4>Add tax information</h4>
    <p>*Allowable cost is calculated by averaging the total amount paid and all coins bought prior to the sale</p>
    <form action="/tax" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="rate" name="rate" placeholder="Tax rate" type="number" required min="0" max="100">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="allowances" name="allowances" placeholder=" Yearly tax allowances" type="number" required step="any">
        </div>
        <div class="mb-3 fw-bold"> Tax year start date</div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="tax_year_start" name="tax_year_start" placeholder="Tax year start" type="date" required>
        </div>
        <div class="mb-3 fw-bold"> Tax year end date</div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="tax_year_end" name="tax_year_end" placeholder="Tax year end" type="date" required>
        </div>
        <button class="btn btn-primary mx-auto w-auto" type="submit">Check my taxes</button>
        </div>
    </form>
</div>

<div class="container">
    <h4>Taxes</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Coin name</th>
                <th scope="col">Amount sold</th>
                <th scope="col">Date</th>
                <th scope="col">Allowable Cost</th>
                <th scope="col">Proceeds</th>
                <th scope="col">Profit</th>                
            </tr>
        </thead>
        <tbody>
            {% for row in tax %}
            <tr>
                <td > {{row["name"].capitalize()}} </td>
                <td > {{row["amount"]}} </td>
                <td > {{row["date"]}} </td>
                <td > {{row["allowable_cost"] | usd}} </td>
                <td > {{row["proceeds"] | usd}} </td>
                <td > {{row["profit"] | usd}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="5">Tax Year: </td>
                <td class="border-0 text-end"> {{start}} to {{end}} </td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="5">Total Profit: </td>
                <td class="border-0 text-end"> {{total_profit}} </td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="5">Taxes to pay: </td>
                <td class="border-0 w-bold text-end"> {{taxes_to_pay}} </td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}