{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}


<div class="container text-center">
    <h4>Add new transaction</h4>
    <form action="/transactions" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="coin_name" name="coin_name" placeholder="Coin name" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="number_coins" name="number_coins" placeholder="Number of coins" type="number" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="transaction_size" name="transaction_size" placeholder="Transaction size in usd" type="number" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="purchase_day" name="purchase_day" placeholder="Date yyyy/mm/dd" type="date" required>
        </div>
        <button class="btn btn-primary mx-auto w-auto" type="submit">Add transaction</button>
        </div>
    </form>
</div>

<div class="container">
    <h4>Transaction History</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Coin</th>
                <th scope="col">Price</th>
                <th scope="col">24h</th>
                <th scope="col">30d</th>
                <th scope="col">1y</th>
                <th scope="col">Mkt Cap</th>
            </tr>
        </thead>
        <tbody>
            {% for coin in inverted %}
            <tr>
                <td >{{inverted[coin]["id"].capitalize()}} - {{inverted[coin]["symbol"].upper()}} </td>
                <td>{{inverted[coin]["current_price"] | usd}}</td>
                <td>{{inverted[coin]["price_change_percentage_24h_in_currency"] | percentage}}</td>
                <td>{{inverted[coin]["price_change_percentage_30d_in_currency"] | percentage}}</td>
                <td>{{inverted[coin]["price_change_percentage_1y_in_currency"] | percentage}}</td>
                <td>{{inverted[coin]["market_cap"] | usd }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}